// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Hardkernel Co., Ltd
 */

/dts-v1/;
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/sensor-dev.h>

#include <dt-bindings/display/media-bus-format.h>
#include <dt-bindings/clock/rk618-cru.h>

#include "rk3326.dtsi"
#include "rk3326-linux.dtsi"

/ {
	model = "MarsBoard";
	compatible = "rockchip,rk3326-odroidgo2-linux-v11", "rockchip,rk3326";

	chosen {
                bootargs = "";
	};

	joypad: odroidgo2-joypad {
                compatible = "odroidgo2-joypad";
                
                joypad-name = "odroidgo2_joypad_v11";
                joypad-product = <0x0002>;
                joypad-revision = <0x0011>;
				
                /*
                  - odroidgo2-joypad sysfs list -
		   * for poll device interval(ms)
		   /sys/devices/platform/odroidgo2_joypad/poll_interval [rw]
                   * for button-adc-fuzz
		   /sys/devices/platform/odroidgo2_joypad/adc_fuzz [r]
                   * for button-adc-flat
		   /sys/devices/platform/odroidgo2_joypad/adc_flat [r]

		   * for report control(1:enable, 0:disable)
		   /sys/devices/platform/odroidgo2_joypad/enable [rw]
		   * for adc calibration value setup(1:current adcs value -> cal value)
		   /sys/devices/platform/odroidgo2_joypad/adc_cal [rw]
                */

		/* gpio pincontrol setup */
                pinctrl-names = "default";
                pinctrl-0 = <&btn_pins>;

		/* JOY_X, JOY_Y Channel define */
		io-channel-names = "joy_x", "joy_y";
		io-channels = <&saradc 1>, <&saradc 2>;

		/* adc channel count */
		button-adc-count = <2>;

		/* adc calculate scale */
		button-adc-scale = <2>;

		/* adc deadzone range  */
		button-adc-deadzone = <30>;

		/*
		    joy-stick voltage range
		    /sys/devices/platform/ff288000.saradc/iio:device0
		    adc-x : in_voltage1_raw
		    adc-y : in_voltage2_raw

		    range calculate.
		    (adc raw max value - adc raw min value) * scale * 1.7515
		*/
		button-adc-x-range = <1400>;
		button-adc-y-range = <1400>;

		/*
		  specifies fuzz value that is used to filter noise from
		  the event stream.
		*/
		button-adc-fuzz = <32>;
		button-adc-flat = <32>;

		/* poll device interval (ms), adc read interval */
		poll-interval = <10>;

		/* gpio button auto repeat set value : default disable */
		/*
			autorepeat;
		*/

		/*
		      *** ODROIDGO2-Advance Switch layoout ***
		|------------------------------------------------|
		| sw15                                      sw16 |
		|------------------------------------------------|
		|     sw1      |-------------------|      sw8    |
		|  sw3   sw4   |                   |   sw7   sw5 |
		|     sw2      |    LCD Display    |      sw6    |
		|              |                   |             |
		|              |-------------------|             |
		|         sw9 sw10   sw11 sw12   sw13 sw14       |
		|------------------------------------------------|
		*/
                /*
                    joypad driver is poll-device driver.
                    poll-device is does not support wakeup-source.
		*/
                sw1 {
                        gpios = <&gpio2 RK_PA0 GPIO_ACTIVE_LOW>;
                        label = "GPIO DPAD-UP";
                        linux,code = <BTN_DPAD_UP>; // 0x220
                };
                sw2 {
                        gpios = <&gpio2 RK_PA1 GPIO_ACTIVE_LOW>;
                        label = "GPIO DPAD-DOWN";
                        linux,code = <BTN_DPAD_DOWN>; // 0x221
                };
                sw3 {
                        gpios = <&gpio2 RK_PA2 GPIO_ACTIVE_LOW>;
                        label = "GPIO DPAD-LEFT";
                        linux,code = <BTN_DPAD_LEFT>; // 0x222
                };
                sw4 {
                        gpios = <&gpio2 RK_PA3 GPIO_ACTIVE_LOW>;
                        label = "GPIO DPAD-RIGHT";
                        linux,code = <BTN_DPAD_RIGHT>; // 0x223
                };
                sw5 {
                        gpios = <&gpio2 RK_PA4 GPIO_ACTIVE_LOW>;
                        label = "GPIO KEY BTN-A";
                        linux,code = <BTN_EAST>; // 0x131
                };
                sw6 {
                        gpios = <&gpio2 RK_PA5 GPIO_ACTIVE_LOW>;
                        label = "GPIO BTN-B";
                        linux,code = <BTN_SOUTH>; // 0x130
                };
                sw7 {
                        gpios = <&gpio2 RK_PA7 GPIO_ACTIVE_LOW>;
                        label = "GPIO BTN-Y";
                        linux,code = <BTN_WEST>; // 0x134
                };
                sw8 {
                        gpios = <&gpio2 RK_PA6 GPIO_ACTIVE_LOW>;
                        label = "GPIO BTN-X";
                        linux,code = <BTN_NORTH>; // 0x133
                };
                sw9 {
                        gpios = <&gpio1 RK_PA7 GPIO_ACTIVE_LOW>;
                        label = "GPIO F1";
                        linux,code = <BTN_TRIGGER_HAPPY1>; // 0x2c0
                };
                sw10 {
                        gpios = <&gpio1 RK_PB7 GPIO_ACTIVE_LOW>;
                        label = "GPIO F2";
                        linux,code = <BTN_TRIGGER_HAPPY2>; // 0x2c1
                };
                sw11 {
                        gpios = <&gpio1 RK_PB6 GPIO_ACTIVE_LOW>;
                        label = "GPIO F3";
                        linux,code = <BTN_TRIGGER_HAPPY3>; // 0x2c2
                };
                sw12 {
                        gpios = <&gpio1 RK_PB5 GPIO_ACTIVE_LOW>;
                        label = "GPIO F4";
                        linux,code = <BTN_TRIGGER_HAPPY4>; // 0x2c3
                };
                sw13 {
                        gpios = <&gpio1 RK_PA5 GPIO_ACTIVE_LOW>;
                        label = "GPIO F5";
                        linux,code = <BTN_TRIGGER_HAPPY5>; // 0x2c4
                };
                sw14 {
                        gpios = <&gpio1 RK_PA6 GPIO_ACTIVE_LOW>;
                        label = "GPIO F6";
                        linux,code = <BTN_TRIGGER_HAPPY6>; // 0x13c
                };
                sw15 {
                        gpios = <&gpio2 RK_PB1 GPIO_ACTIVE_LOW>;
                        label = "GPIO TOP-LEFT";
                        linux,code = <BTN_TL>; // 0x02
                };
                sw16 {
                        gpios = <&gpio2 RK_PB3 GPIO_ACTIVE_LOW>;
                        label = "GPIO TOP-RIGHT";
                        linux,code = <BTN_TR>; // 0x05
                };
                sw20 {
                        gpios = <&gpio2 RK_PB0 GPIO_ACTIVE_LOW>;
                        label = "GPIO TOP-LEFT2";
                        linux,code = <BTN_TL2>;
                };
                sw21 {
                        gpios = <&gpio2 RK_PB2 GPIO_ACTIVE_LOW>;
                        label = "GPIO TOP-RIGHT2";
                        linux,code = <BTN_TR2>;
                };
				
                sw22 {
                        gpios = <&gpio1 RK_PB0 GPIO_ACTIVE_LOW>;
                        label = "GPIO JOY KEY";
                        linux,code = <BTN_TRIGGER_HAPPY7>;
                };
				
        };

	fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <2>;
		rockchip,wake-irq = <0>;
		/* If enable uart uses irq instead of fiq */
		rockchip,irq-mode-enable = <0>;
		rockchip,baudrate = <115200>;  /* Only 115200 and 1500000 */
		interrupts = <GIC_SPI 127 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart2m1_xfer>;
		status = "okay";
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 10000 0>;
		brightness-levels = <
			  0   1   2   3   4   5   6   7
			  8   9  10  11  12  13  14  15
			 16  17  18  19  20  21  22  23
			 24  25  26  27  28  29  30  31
			 32  33  34  35  36  37  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255>;
		default-brightness-level = <200>;
	};

/* GKD350 PRO PWR LED, When the voltage is low, it can display */
	pwrled: pwrled {
		compatible = "pwm-pwrled";
		pwms = <&pwm0 0 25000 1>;
		brightness-levels = <
			  0   1   2   3   4   5   6   7
			  8   9  10  11  12  13  14  15
			 16  17  18  19  20  21  22  23
			 24  25  26  27  28  29  30  31
			 32  33  34  35  36  37  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255>;
		default-brightness-level = <255>;
	};

	rk817-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchip,rk817-codec";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Headphone", "Headphone Jack";
		simple-audio-card,routing =
			"MIC_IN", "Mic Jack",
			/*"IN1P", "Mic Jack",*/
			"Headphone Jack", "HPOL",
			"Headphone Jack", "HPOR";
		simple-audio-card,hp-det-gpio = <&gpio2 RK_PC6 GPIO_ACTIVE_LOW>;
		simple-audio-card,codec-hp-det = <1>;
		simple-audio-card,cpu {
			sound-dai = <&i2s1_2ch>;
		};
		simple-audio-card,codec {
			sound-dai = <&rk817_codec>;
		};
	};

/*
	rk_headset {
		compatible = "rockchip_headset";
		headset_gpio = <&gpio2 RK_PC6 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
	};
*/

	vccsys: vccsys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v8_sys";
		regulator-always-on;
		regulator-min-microvolt = <3800000>;
		regulator-max-microvolt = <3800000>;
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&cru SCLK_WIFI_PMU>;
		clock-names = "clk_wifi_pmu";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;

		/*
		 * On the module itself this is one of these (depending
		 * on the actual card populated):
		 * - SDIO_RESET_L_WL_REG_ON
		 * - PDN (power down when low)
		 */
		reset-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_LOW>; /* GPIO0_A2 */
	};
	
	wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		/* wifi_chip_type - wifi chip define
		* ap6210, ap6330, ap6335
		* rtl8188eu, rtl8723bs, rtl8723bu
		* esp8089
		*/
		wifi_chip_type = "rtl8723ds";
		sdio_vref = <3300>; //1800mv or 3300mv
		WIFI,host_wake_irq = <&gpio0 RK_PA5 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
	
	wireless-bluetooth {
		compatible = "bluetooth-platdata";
		uart_rts_gpios = <&gpio1 RK_PC3 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default","rts_gpio";
		pinctrl-0 = <&uart1_rts>;
		pinctrl-1 = <&uart1_rts_gpio>;
		BT,reset_gpio = <&gpio0 RK_PB3 GPIO_ACTIVE_HIGH>;
		BT,wake_gpio = <&gpio0 RK_PA1 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio0 RK_PA7 GPIO_ACTIVE_HIGH>; /* BT_WAKE_HOST */
		status = "okay";
	};
	
};


&bus_apll {
	bus-supply = <&vdd_logic>;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&cpu0_opp_table {
	rockchip,avs = <1>;

	/* bin scaling clock 1.296MHz */
	rockchip,bin-scaling-sel = <
		0               13
		1               13
	>;

	/delete-node/ opp-408000000;
	/delete-node/ opp-600000000;
	/delete-node/ opp-816000000;
	/delete-node/ opp-1416000000;
	/delete-node/ opp-1512000000;
};

&display_subsystem {
	status = "okay";
};

&dsi {
	status = "okay";

	panel@0 {
		compatible = "elida,kd35t133", "simple-panel-dsi";
		reg = <0>;

		/* pwm1 backlight */
		backlight = <&backlight>;
		/* RK817 LDO7 */
		/* backlight-supply = <&vcc_backlight>; */
		/* RK817 LDO8 */
		power-supply = <&vcc_lcd>;

		/* Rev 0.2 LCD reset gpio GPIO3.C0 */
		reset-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_LOW>;

		prepare-delay-ms = <2>;
		reset-delay-ms = <1>;
		init-delay-ms = <20>;
		enable-delay-ms = <120>;
		disable-delay-ms = <50>;
		unprepare-delay-ms = <20>;

		/* LCD size */
		width-mm = <42>;
		height-mm = <82>;

		dsi,flags = <(MIPI_DSI_MODE_VIDEO           |
			      MIPI_DSI_MODE_VIDEO_BURST     |
			      MIPI_DSI_MODE_LPM             |
			      MIPI_DSI_MODE_EOT_PACKET)>;

		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes = <1>;

		/*
			- panel-init-sequence data description -
			  mipi_cmd, delay(ms), len, lcd_cmd, lcd_data...

			- mipi_cmd description -
			  05 : MIPI_DSI_SHORT_WRITE
			  15 : MIPI_DSI_SHORT_WRITE_PARAM
			  39 : MIPI_DSI_LONG_WRITE

			- ILI9486 (Initialize sequence) -
			  11: Sleep out & 250ms wait
			  E0: PositiveGamma
			  E1: NegativeGamma
			  C0: PowerControl_1
			  C1: PowerControl_2
			  C5: VcomControl
			  36: MemoryAccess
			  3A: InterfacePixelFormat
			  B0: InterfaceModeControl
			  B1: FrameRateControl
			  B4: DisplayInversionControl
			  B6: DisplayFunctionControl
			  E9: SetImageFunction
			  F7: AdjustControl_3
			  21: DisplayInversionOn
			  29: DisplayOn & 50ms wait
		*/

		panel-init-sequence = [
			05 fa 01 11
			39 00 10 E0 00 13 18 04 0F 06 3A 56
				    4D 03 0A 06 30 3E 0F
			39 00 10 E1 00 13 18 01 11 06 38 34
				    4D 06 0D 0B 31 37 0F
			15 00 03 C0 18 17
			15 00 02 C1 41
			39 00 04 C5 00 1A 80
			15 00 02 36 48
			15 00 02 3A 66
			15 00 02 B0 00
			15 00 02 B1 A0
			15 00 02 B4 02
			15 00 03 B6 20 02
			15 00 02 E9 00
			39 00 05 F7 A9 51 2C 82
			05 00 01 21
			05 32 01 29
		];

		/* 28: DisplayOff */
		/* 10: SleepIn */
		panel-exit-sequence = [
			05 10 01 28
			05 78 01 10
		];

		display-timings {
			native-mode = <&timing0>;

			timing0: timing0 {
				clock-frequency = <17000000>;
				hactive = <320>;
				vactive = <480>;
				hfront-porch = <130>;
				hsync-len = <4>;
				hback-porch = <130>;
				vfront-porch = <2>;
				vsync-len = <1>;
				vback-porch = <2>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
	};
};

&dsi_in_vopb {
	status = "okay";
};

&route_dsi {
	connect = <&vopb_out_dsi>;
	status = "okay";
};

&dfi {
	status = "okay";
};

&dmc {
	center-supply = <&vdd_logic>;
	status = "okay";
};

&dmc_opp_table {
	/delete-node/ opp-194000000;
	/delete-node/ opp-328000000;
	/delete-node/ opp-450000000;
	/delete-node/ opp-528000000;
	/delete-node/ opp-666000000;

	opp-786000000 {
		status = "okay";
	};
};

&gpu_opp_table {
	/delete-node/ opp-200000000;
	/delete-node/ opp-300000000;
};

&emmc {
	status = "disabled";
};


&sfc {
	status = "disabled";
};

&gpu {
	mali-supply = <&vdd_logic>;
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;
	i2c-scl-rising-time-ns = <280>;
	i2c-scl-falling-time-ns = <16>;

	rk817: pmic@20 {
		compatible = "rockchip,rk817";
		reg = <0x20>;
		interrupt-parent = <&gpio0>;
		interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default", "pmic-sleep",
				"pmic-power-off", "pmic-reset";
		pinctrl-0 = <&pmic_int>;
		pinctrl-1 = <&soc_slppin_slp>, <&rk817_slppin_slp>;
		pinctrl-2 = <&soc_slppin_gpio>, <&rk817_slppin_pwrdn>;
		pinctrl-3 = <&soc_slppin_rst>, <&rk817_slppin_rst>;
		rockchip,system-power-controller;
		wakeup-source;
		#clock-cells = <1>;
		clock-output-names = "rk808-clkout1", "rk808-clkout2";
		//fb-inner-reg-idxs = <2>;

		/* 1: rst regs (default in codes), 0: rst the pmic */
		pmic-reset-func = <1>;

		vcc1-supply = <&vccsys>;
		vcc2-supply = <&vccsys>;
		vcc3-supply = <&vccsys>;
		vcc4-supply = <&vccsys>;
		vcc5-supply = <&vccsys>;
		vcc6-supply = <&vccsys>;
		vcc7-supply = <&vccsys>;
		vcc8-supply = <&vccsys>;
		vcc9-supply = <&dcdc_boost>;

		pwrkey {
			status = "okay";
		};

		pinctrl_rk8xx: pinctrl_rk8xx {
			gpio-controller;
			#gpio-cells = <2>;

			rk817_ts_gpio1: rk817_ts_gpio1 {
				pins = "gpio_ts";
				function = "pin_fun1";
				/* output-low; */
				/* input-enable; */
			};

			rk817_gt_gpio2: rk817_gt_gpio2 {
				pins = "gpio_gt";
				function = "pin_fun1";
			};

			rk817_pin_ts: rk817_pin_ts {
				pins = "gpio_ts";
				function = "pin_fun0";
			};

			rk817_pin_gt: rk817_pin_gt {
				pins = "gpio_gt";
				function = "pin_fun0";
			};

			rk817_slppin_null: rk817_slppin_null {
				pins = "gpio_slp";
				function = "pin_fun0";
			};

			rk817_slppin_slp: rk817_slppin_slp {
				pins = "gpio_slp";
				function = "pin_fun1";
			};

			rk817_slppin_pwrdn: rk817_slppin_pwrdn {
				pins = "gpio_slp";
				function = "pin_fun2";
			};

			rk817_slppin_rst: rk817_slppin_rst {
				pins = "gpio_slp";
				function = "pin_fun3";
			};
		};

		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <950000>;
				regulator-max-microvolt = <1150000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_logic";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <950000>;
				};
			};

			vdd_arm: DCDC_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <950000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_arm";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <950000>;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <0x2>;
				regulator-name = "vcc_ddr";
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_3v3: DCDC_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vcc_3v3";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			/* Not Used */
			vcc_1v0: LDO_REG1 {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vcc_1v0";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <1000000>;
				};
			};

			vcc1v8_soc: LDO_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-name = "vcc1v8_soc";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd1v0_soc: LDO_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;

				regulator-name = "vcc1v0_soc";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1000000>;
				};
			};

			vcc3v3_pmu: LDO_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;

				regulator-name = "vcc3v3_pmu";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;

				};
			};

			vccio_sd: LDO_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;

				regulator-name = "vccio_sd";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcc_sd: LDO_REG6 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;

				regulator-name = "vcc_sd";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;

				};
			};

			/* GKD350 PRO */
			vcc_lcd: LDO_REG7 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc_lcd";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			/* GKD350 PRO */
			vcc_rk618: LDO_REG8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc_rk618";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			/* GKD350 PRO */
			vdd_rk618: LDO_REG9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;

				regulator-name = "vdd_rk618";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <1200000>;
				};
			};

			dcdc_boost: BOOST {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5400000>;
				regulator-name = "boost";
			};

			otg_switch: OTG_SWITCH {
				regulator-boot-on;
				regulator-name = "otg_switch";
			};
		};

		battery {
			compatible = "rk817,battery";
			ocv_table = <3400 3643 3677 3692 3718 3735 3750
			3765 3776 3788 3802 3816 3835 3861
			3907 3943 3974 4009 4050 4091 4139>;

			/* GKD350 PRO Battery Spec */
			/*
				Capacity : 3.8V 2830mAH
				Normal Voltage = 3.8V
				Cut-Off Voltage : 3.0V
				Internal Impedance : 33 mOhm
				Charging Voltage : 4.35V
				Charging Voltage Max : 4.35V
				Sample resister : 10 mohm
			*/
			design_capacity = <2830>;
			design_qmax = <2830>;
			bat_res = <33>;
			sleep_enter_current = <300>;
			sleep_exit_current = <300>;
			sleep_filter_current = <100>;
			power_off_thresd = <3500>;
			zero_algorithm_vol = <3950>;
			max_soc_offset = <60>;
			monitor_sec = <5>;
			virtual_power = <0>;
			sample_res = <10>;
		};

		charger {
			compatible = "rk817,charger";
			min_input_voltage = <4500>;
			max_input_current = <2000>;
			max_chrg_current = <1500>;
			max_chrg_voltage = <4350>;
			chrg_term_mode = <0>;
			chrg_finish_cur = <300>;
			virtual_power = <0>;
			sample_res = <10>;

			/* GKD350 PRO DC Detect & Charger Status LED GPIO */
			dc_det_gpio  = <&gpio1 RK_PB4 GPIO_ACTIVE_HIGH>;
			chg_led_gpio = <&gpio1 RK_PB3 GPIO_ACTIVE_HIGH>;

			extcon = <&u2phy>;
		};
		rk817_codec: codec {
			#sound-dai-cells = <0>;
			compatible = "rockchip,rk817-codec";
			clocks = <&cru SCLK_I2S1_OUT>;
			clock-names = "mclk";
			pinctrl-names = "default";
			pinctrl-0 = <&i2s1_2ch_mclk>;
			hp-volume = <20>;
			spk-volume = <3>;
			status = "okay";
		};
	};
};

/* EXT Header(P2) : 7(SCL:GPIO0.C2), 8(SDA:GPIO0.C3) */
&i2c1 {
	status = "okay";
	clock-frequency = <400000>;

	/* These are relatively safe rise/fall times; TODO: measure */
	i2c-scl-falling-time-ns = <50>;
	i2c-scl-rising-time-ns = <300>;

	sensor@4c {
		status = "okay";
		compatible = "gs_mma7660";
		reg = <0x4c>;
		type = <SENSOR_TYPE_ACCEL>;
		irq-gpio = <&gpio0 RK_PB4 IRQ_TYPE_LEVEL_LOW>;
		irq_enable = <0>;
		poll_delay_ms = <10>;
		layout = <4>;
		reprobe_en = <1>;
	};
};

/* ZPG PRO RK618 

RK618_RST  --- GPIO2_B5
LCDC_CLK   --- GPIO3_A0
LCDC_HSYNC --- GPIO3_A1
LCDC_VSYNC --- GPIO3_A2
LCDC_DEN   --- GPIO3_A3
LCDC_D0    --- GPIO3_A4
LCDC_D1    --- GPIO3_A5
LCDC_D2    --- GPIO3_A6
LCDC_D3    --- GPIO3_A7
LCDC_D4    --- GPIO3_B0
LCDC_D5    --- GPIO3_B1
LCDC_D6    --- GPIO3_B2
LCDC_D7    --- GPIO3_B3
LCDC_D8    --- GPIO3_B4
LCDC_D9    --- GPIO3_B5
LCDC_D10   --- GPIO3_B6
LCDC_D11   --- GPIO3_B7
LCDC_D12   --- GPIO3_C0
LCDC_D13   --- GPIO3_C1
LCDC_D14   --- GPIO3_C2
LCDC_D15   --- GPIO3_C3
LCDC_D16   --- GPIO3_C4
LCDC_D17   --- GPIO3_C5
LCDC_D18   --- GPIO3_C6
LCDC_D19   --- GPIO3_C7
LCDC_D20   --- GPIO3_D0
LCDC_D21   --- GPIO3_D1
LCDC_D22   --- GPIO3_D2
LCDC_D23   --- GPIO3_D3
*/
&i2c2 {
	status = "okay";
	clock-frequency = <400000>;

	rk618@50 {
		compatible = "rockchip,rk618";
		reg = <0x50>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2s1_2ch_mclk>;
		clocks = <&cru SCLK_I2S1_OUT>;
		clock-names = "clkin";
		assigned-clocks = <&cru SCLK_I2S1_OUT>;
		assigned-clock-rates = <12000000>;
		reset-gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_LOW>;
		status = "okay";

		clock: cru {
			compatible = "rockchip,rk618-cru";
			clocks = <&cru SCLK_I2S1_OUT>, <&cru DCLK_VOPL>;
			clock-names = "clkin", "lcdc0_dclkp";
			assigned-clocks = <&clock SCALER_PLLIN_CLK>,
					  <&clock VIF_PLLIN_CLK>,
					  <&clock SCALER_CLK>,
					  <&clock VIF0_PRE_CLK>,
					  <&clock CODEC_CLK>,
					  <&clock DITHER_CLK>;
			assigned-clock-parents = <&cru SCLK_I2S1_OUT>,
						 <&clock LCDC0_CLK>,
						 <&clock SCALER_PLL_CLK>,
						 <&clock VIF_PLL_CLK>,
						 <&cru SCLK_I2S1_OUT>,
						 <&clock VIF0_CLK>;
			#clock-cells = <1>;
			status = "okay";
		};

	};
};

/* I2S 1 Channel Used */
&i2s1_2ch {
	status = "okay";
	#sound-dai-cells = <0>;
};

&io_domains {
	/* GRF Register Voltage select control */
	status = "okay";

	/* SDIO I/O Voltage */
	vccio1-supply = <&vcc_3v3>;
	/* SDMMC I/O Voltage */
	vccio2-supply = <&vccio_sd>;
	/* CAM I/O Voltage */
	vccio3-supply = <&vcc_3v3>;
	/* LVDS/LCDC I/O Voltage */
	vccio4-supply = <&vcc_3v3>;
	/* I2S I/O Voltage */
	vccio5-supply = <&vcc_3v3>;
	/* eMMC I/O Voltage */
	vccio6-supply = <&vcc_3v3>;
};

&isp_mmu {
	status = "okay";
};

&mipi_dphy_rx0 {
	status = "okay";
};

&rkisp1 {
	status = "okay";
};

&spi0 {
	status = "disabled";
};

&pmu_io_domains {
	/* PMU GRF Register Voltage select control */
	status = "okay";

	/* PMU I/O Voltage */
	pmuio1-supply = <&vcc3v3_pmu>;
	/* GPIO0_B/GPIO0_C, Flash */
	pmuio2-supply = <&vcc3v3_pmu>;
};

/* GKD350 PRO PWR LED, When the voltage is low, it can display */
&pwm0 {
	status = "okay";
};

/* LCD Backlight PWM */
&pwm1 {
	status = "okay";
};

&rk_rga {
	status = "okay";
};

&rockchip_suspend {
	status = "okay";
	rockchip,sleep-debug-en = <1>;
};

&saradc {
	status = "okay";
	vref-supply = <&vcc1v8_soc>;
};

&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	supports-sd;
	card-detect-delay = <800>;
	ignore-pm-notify;
	cd-gpios = <&gpio0 RK_PA3 GPIO_ACTIVE_LOW>; /*[> CD GPIO <]*/
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vqmmc-supply = <&vccio_sd>;
	vmmc-supply = <&vcc_sd>;
	status = "okay";
};

&sdio {
	bus-width = <4>;
	cap-sd-highspeed;
	supports-sdio;
	ignore-pm-notify;
	keep-power-in-suspend;
	non-removable;
	mmc-pwrseq = <&sdio_pwrseq>;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	status = "okay";
};

&tsadc {
	pinctrl-names = "gpio", "otpout";
	pinctrl-0 = <&tsadc_otp_gpio>;
	pinctrl-1 = <&tsadc_otp_out>;
	status = "okay";
};

&u2phy {
	status = "okay";

	u2phy_host: host-port {
		status = "okay";
	};

	u2phy_otg: otg-port {
		status = "disabled";
	};
};

&usb20_otg {
	status = "okay";
};

/*
	EXT Header(P2) UART :
	2(RXD:GPIO1.C0),3(TXD:GPIO1.C1),4(CTS:GPIO1.C2),5(RTS:GPIO1.C3)
*/
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_xfer &uart1_cts>;
	status = "okay";
};

&vip_mmu {
	status = "okay";
};

&vopb {
	status = "okay";
};

&vopb_mmu {
	status = "okay";
};

&vpu_combo {
	status = "okay";
};

&pinctrl {
/*
	headphone {
		//High : HeadPhone remove, Low : HeadPhone insert
		hp_det: hp-det {
			rockchip,pins = <2 RK_PC6 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
*/

	pmic {
		/* ODROID-GO2 : PMIC_INT(GPIO0.PB2) */
		pmic_int: pmic_int {
			rockchip,pins =
				<0 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>,
				<1 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		/* ODROID-GO2 : PMIC_SLEEP(GPIO0.PA4) */
		soc_slppin_gpio: soc_slppin_gpio {
			rockchip,pins =
				<0 RK_PA4 RK_FUNC_GPIO &pcfg_output_low>;
		};

		soc_slppin_slp: soc_slppin_slp {
			rockchip,pins =
				<0 RK_PA4 RK_FUNC_1 &pcfg_pull_none>;
		};

		soc_slppin_rst: soc_slppin_rst {
			rockchip,pins =
				<0 RK_PA4 RK_FUNC_2 &pcfg_pull_none>;
		};
	};

	btns {
		btn_pins: btn-pins {
			rockchip,pins = <1 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up>, /* sta */
					<1 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>, /* sel */
					<1 RK_PB7 RK_FUNC_GPIO &pcfg_pull_up>, /* menu */
					<1 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>, /* vol+ */
					<1 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>, /* vol- */
					<1 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>, /* back */
					<1 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>, /* joy key */

					<2 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>, /* up */
					<2 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>, /* down */
					<2 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>, /* left */
					<2 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>, /* right */
					<2 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>, /* a */
					<2 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>, /* b */
					<2 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>, /* x */
					<2 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>, /* y */
					<2 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>, /* l1 */
					<2 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>, /* l2 */
					<2 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>, /* r1 */
					<2 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>; /* r2 */

		};
	};

       /* gkd350 pro motor Vibrator, gpio0_PC1
         echo 17 > /sys/class/gpio/export
         echo out > /sys/class/gpio/gpio17/direction
         echo 0 > /sys/class/gpio/gpio17/value
         echo 1 > /sys/class/gpio/gpio17/value
       */

	sdio_pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <0 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

/* DON'T PUT ANYTHING BELOW HERE.  PUT IT ABOVE PINCTRL */
/* DON'T PUT ANYTHING BELOW HERE.  PUT IT ABOVE PINCTRL */
/* DON'T PUT ANYTHING BELOW HERE.  PUT IT ABOVE PINCTRL */
